body {
    font-family: "Candara";
}

.full-width {
    width: 100%;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.layout-column {
    padding: 0px 20px;
    vertical-align: top;
    text-align: center;
}

.actions-table {
    width: 100%;
}

.actions-table thead th {
    padding: 20px 30px;
}

.actions-table tbody td {
    padding: 5px 15px;
}

.main {
    margin-left: 100px;
    padding: 0px 10px;
    margin-right: 100px;
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.blue {
    background-color: #008CBA;
}

.green {
    background-color: #4CAF50;
}

.black {
    background-color: #555555;
}

.red {
    background-color: #f44336;
}

